body {
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: url(img/Background.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Carrossel */
.slider {
  margin: 0 auto;
  width: 1200px;
  height: 350px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;
}

.slider2 {
  margin: 0 auto;
  width: 1200px;
  height: 350px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 1200px;
}

.manual-navigation {
  position: absolute;
  width: 1200px;
  margin-top: -120px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: white;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#radio4:checked~.first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto {
  position: absolute;
  width: 1200px;
  margin-top: 280px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: white;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: white;
}

/* Barra de Navegação */
#menu-h ul {
  list-style: none;
  padding: 0;
  background-color: white;
}

#menu-h ul li {
  display: inline;
}

#menu-h ul li a {
  color: #818186;
  padding: 30px;
  display: inline-block;
  text-decoration: none;
  transition: color .4s;
}

#menu-h ul li a:hover {
  color: rgb(124, 177, 184);
}

#menu-h ul li:first-child a {
  float: left;
  padding-right: 500px;
}

a {
  color: #818186;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #006987;
}

.logo img {
  width: 150px;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid #818186;
  height: 8vh;
  background: white;
  font-weight: 700;
  font-size: larger;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* Card de produtos */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.row {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.row img {
  cursor: pointer;
}

.product_inner {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  align-content: center;
  text-align: center;
}

.product_inner button {
  border: 1px solid #818186;
  color: #005e7a;
  border-radius: 3px;
  padding: 1em 3em;
  margin: 1em 0 0 0;
  background: none;
  cursor: pointer;
  transition: background ease-in 0.25s;
  font-weight: 700;
}

.product_inner button:hover {
  color: #ffffff;
  background-color: #005e7a;
}

.prod1 {
  box-shadow: 1px 5px 15px #ccc;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 16px 16px 16px 150px;
  overflow: hidden;
  position: relative;
  flex: auto;
}

.prod2 {
  box-shadow: 1px 5px 15px #ccc;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
}

.prod3 {
  box-shadow: 1px 5px 15px #ccc;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
}

.prod4 {
  box-shadow: 1px 5px 15px #ccc;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
}

.prod5 {
  box-shadow: 1px 5px 15px #ccc;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
}

.prod6 {
  box-shadow: 1px 5px 15px #ccc;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 16px 150px 16px 16px;
  overflow: hidden;
  position: relative;
  flex: auto;
}

.product1,
.product6,
.product11,
.product16,
.product21,
.product26 {
  box-shadow: 1px 5px 15px #ccc;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 16px 16px 16px 150px;
  overflow: hidden;
  position: relative;
  flex: auto;
}

.product2,
.product3,
.product4,
.product7,
.product8,
.product9,
.product12,
.product13,
.product14,
.product17,
.product18,
.product19,
.product22,
.product23,
.product24,
.product27,
.product28,
.product29 {
  box-shadow: 1px 5px 15px #ccc;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 16px 16px 16px 16px;
  overflow: hidden;
  position: relative;
  flex: auto;
}

.product5,
.product10,
.product15,
.product20,
.product25 {
  box-shadow: 1px 5px 15px #ccc;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 16px 150px 16px 16px;
  overflow: hidden;
  position: relative;
  flex: auto;
}

.product img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}

.product_inner p {
  color: #000000;
}

.product_overlay {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-500px);
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.product_overlay h2 {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.2em;
  margin: 1em 0;
}

.product_overlay {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-500px);
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.prod1 {
  background: linear-gradient(-45deg, #BCEBF0 50%, #ffffff 50%);
}

.prod2 {
  background: linear-gradient(-45deg, #BCEBF0 50%, #ffffff 50%);
}

.prod3 {
  background: linear-gradient(-45deg, #BCEBF0 50%, #ffffff 50%);
}

.prod4 {
  background: linear-gradient(-45deg, #BCEBF0 50%, #ffffff 50%);
}

.prod5 {
  background: linear-gradient(-45deg, #BCEBF0 50%, #ffffff 50%);
}

.prod6 {
  background: linear-gradient(-45deg, #BCEBF0 50%, #ffffff 50%);
}

.product1,
.product2,
.product3,
.product4,
.product5,
.product6,
.product7,
.product8,
.product9,
.product10,
.product11,
.product12,
.product13,
.product14,
.product15,
.product16,
.product17,
.product18,
.product19,
.product20,
.product21,
.product22,
.product23,
.product24,
.product25,
.product26,
.product27,
.product28,
.product29,
.product30 {
  background: linear-gradient(-45deg, #BCEBF0 50%, #ffffff 50%);
}

.textprod {
  padding-left: 150px;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px black;
}

.textprod2 {
  padding-top: 50px;
  padding-left: 150px;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px black;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

/* Rodapé */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
}

.conteudo {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo h1 {
  font-size: 15vw;
  text-transform: uppercase;
}

footer {
  width: 100%;
  min-height: 250px;
  background: #005e7a;
  display: flex;
  align-items: center;
}

footer .boxs {
  width: 320px;
  min-height: 150px;
  padding: 20px;
}

footer .boxs:nth-child(4) {
  width: 400px;
}

h3 {
  color: white;
}

.box1 li {
  width: 350px;
  color: white;
}

.boxs h2 {
  color: #fff;
  margin-bottom: 20px;
}

.boxs ul li {
  margin: 10px 0px;
  list-style: none;
}

.boxs ul li img {
  width: 400px;
}

.boxs ul li a {
  color: #ddd;
  text-decoration: none;
}

.boxs ul li a:hover {
  color: #fff;
}

.boxs p {
  color: #fff;
  text-align: justify;
}

.footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005e7a;
  padding: 0px 20px;
}

.footer h2 img {
  width: 150px;
}

.sociais {
  display: flex;
  margin-left: 1370px;
  margin-top: 30px;
}

.sociais .social {
  text-align: center;
  line-height: 40px;
  margin: 10px;
  cursor: pointer;
}

.selos {
  width: 500px;
  margin-left: 1080px;
  margin-top: 20px;
  background: white;
  border: 8px solid white;
  border-radius: 20px 20px 20px;
}

.google {
  margin-bottom: 30px;
}

@media(max-width: 950px) {
  footer {
    flex-direction: column;
  }

  footer .boxs {
    width: 320px;
    text-align: center;
  }

  footer .boxs:nth-child(4) {
    width: 100%;
  }
}

/* Equipe */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

.equipe ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-radius: 100%;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.team1 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.team2 {
  margin-bottom: 50px;
}

.equipe h1 {
  text-align: center;
  height: 50px;
  padding: 0;
  color: white;
  margin-top: 70px;
}

.equipe h1::after {
  content: "";
  padding: 2px;
  background-color: white;
  display: flex;
  width: 20%;
  margin: 0% auto;
  margin-top: 1rem;
}

.equipe h2 {
  color: white;
}

.equipe li {
  border: radius 100%;
  border: black;
  text-align: center;
}

p {
  text-align: center;
  color: white;
}

.equipe img {
  border-radius: 100%;
}

/* Formulário */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #ffffff;
  width: 100%;
  max-width: 512;
  margin-bottom: 40px;
  margin-top: 80px;
}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 512px;
}

.form label {
  color: #ffffff;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color;
  box-shadow: 0.2s;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover {
  outline: none;
  border-color: #09d;
  box-shadow: 0 0 0 3px #4dc8ff;

}

.form button {
  display: block;
  padding: 1rem;
  background: #0072c4;
  color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.form input.enviar:hover,
.form input.enviar:focus {
  outline: none;
  background: #003657;
  color: #ffffff;
}

.name,
.email,
.mensagem {
  font-weight: 700;
}

/* Conteudo quem somos */
.bloco {
  background-color: white;
  width: 600px;
  height: 360px;
  border-radius: 50px 50px 50px;
  border: #23232e solid;
  margin: 90px auto 0px;
  text-align: center;
  margin-bottom: 100px;
}

.bloco h1,
h2 {
  color: #006987;
}

.bloco h1,
h2 {
  margin: 10px;
}

.contentpag {
  flex-grow: 1;
  width: 100%;
}